#freshbox {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
    box-shadow: 3px 3px 2px #aaaaaa;
}

#freshbox a,
#freshbox a:active,
#freshbox a:visited,
#freshbox a:hover {
    text-decoration: underline;
}

#freshbox_close {
    float: right;
    margin-left: 0.5em;
}

.freshbox_hidden {
    display: none;
}

.freshbox_pastWeek {
    background-color: #BAF349;
    color: #719E18;
}

.freshbox_pastWeek a,
.freshbox_pastWeek a:active,
.freshbox_pastWeek a:visited,
.freshbox_pastWeek a:hover {
    color: #719E18;
}

.freshbox_pastMonth {
    background-color: #FFDA73;
    color: #A67A00;
}

.freshbox_pastMonth a,
.freshbox_pastMonth a:active,
.freshbox_pastMonth a:visited,
.freshbox_pastMonth a:hover {
    color: #A67A00;
}

.freshbox_pastYear {
    background-color: #FFD383;
    color: #FF9900;
}

.freshbox_pastYear a,
.freshbox_pastYear a:active,
.freshbox_pastYear a:visited,
.freshbox_pastYear a:hover {
    color: #FF9900;
}

.freshbox_old {
    background-color: #FFB4B1;
    color: #FF392F;
}

.freshbox_old a,
.freshbox_old a:active,
.freshbox_old a:visited,
.freshbox_old a:hover {
    color: #FF392F;
}

.freshbox_deferred {

    background-color: #E4EDF7;
    color: #336699;
}

.freshbox_deferred a,
.freshbox_deferred a:active,
.freshbox_deferred a:visited,
.freshbox_deferred a:hover {
    color: #336699;
}